.toggle {
    position: absolute;
    z-index: 1;
    top: 7px;
    left: 3px;
  
    [type="checkbox"]:not(:checked),
    [type="checkbox"]:checked {
      position: absolute;
      left: -9999px;
    }
  
    [type="checkbox"]:not(:checked) + label,
    [type="checkbox"]:checked + label {
      position: relative;
      padding-left: 4em;
      padding-top: 0.25em;
      cursor: pointer;
    }
  
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before,
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      content: "";
      position: absolute;
      height: 1.5em;
      transition: all 0.5s ease;
    }
  
    [type="checkbox"]:not(:checked) + label:before,
    [type="checkbox"]:checked + label:before {
      left: 0;
      top: 0;
      width: 3em;
      border: 2px solid #dddddd;
      background: #dddddd;
      border-radius: 1.1em;
      z-index: -1;
    }
  
    [type="checkbox"]:not(:checked) + label:after,
    [type="checkbox"]:checked + label:after {
      left: 0.15em;
      top: 0.125em;
      background-color: #fff;
      border-radius: 50%;
      width: 1.5em;
    }
  
    [type="checkbox"]:checked + label:after {
      left: 1.65em;
    }
  
    [type="checkbox"]:checked + label:before {
      background-color: #72da67;
      border-color: #72da67;
    }
  }